<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.coursework.protest">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PassTest"
            android:label="@string/title_activity_pass_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MakeTest"
            android:label="@string/title_activity_create_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakeQuestion"
            android:label="@string/title_activity_create_question"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Authentication.Authenticator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Browse"
            android:screenOrientation="portrait" />
    </application>

</manifest>